<div class="col-lg-8">
    <div class="top-box">
        <h1>Teamworks</h1>
        <a href="#/newteamwork" id="new-teamwork">+ New Teamwork</a>
        <span>Select by category</span>
        <select id="categories" data-template="category-template"></select>
    </div>
    <div class="teamwork-box">
        <h3>Active Teamworks</h3>
        <ul id="teamworks" data-template="teamwork-template" class="list-group"></ul>
        <!--<ul><li id="2">Some teamwork</li></ul>-->
    </div>
</div>

<script id="teamwork-template" type="text/x-mustache-template">
    <li id="{{Id}}" class="list-group-item">
        <span>{{{Name}}}</span>
        <span>{{{Category}}}</span>
        <span>{{{Description}}}</span>
        <span><a href="#/request/{Id}">Join This Teamwork</a></span>
    </li>
</script>

<script id="category-template" type="text/x-mustache-template">
    <option id="{{id}}" class="list-group-item">
        {{{Name}}}
    </option>
</script>