<div class="col-lg-8">
     <h1>Teamworks</h1>
    <div class="category-box">
        <span>Select by category</span>
        <select id="categories" data-template="category-template"></select>
    </div>
    <div class="teamwork-box">
        <h3>Active Teamworks</h3>
        <ul id="teamworks" data-template="teamwork-template" class="list-group"></ul>
        <!--<ul><li id="2">Some teamwork</li></ul>-->
    </div>
    <div class="teamwork-box">
        <h3>Archive</h3>
        <ul id="archive-teamworks" data-template="archive-teamwork-template" class="list-group"></ul>
    </div>
</div>

<script id="teamwork-template" type="text/x-mustache-template">
    <li id="{{id}}" class="list-group-item">
        <span>{{{Name}}}</span>
        <span>{{{Category}}}</span>
        <span><a href="">{{{Join}}}</a></span>
    </li>
</script>

<script id="archive-teamwork-template" type="text/x-mustache-template">
    <li id="{{id}}" class="list-group-item">
        <span>{{{Name}}}</span>
        <span>{{{Category}}}</span>
    </li>
</script>

<script id="category-template" type="text/x-mustache-template">
    <option id="{{id}}" class="list-group-item">
        {{{Name}}}
    </option>
</script>