<div class="row">
    <div class="col-sm-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Active Teamworks</h3>
            </div>
            <div class="panel-body">
                <div id="teamworks" data-template="teamwork-template" class="list-group">
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="form-group">
            <label>Filter Teamworks</label>
            <select id="categories" data-template="category-template" class="form-control"></select>
        </div>
        <!--<div class="top-box">
            <span>Filter Teamworks</span>
            <select id="categories" data-template="category-template"></select>
        </div>-->
        <!--<div class="teamwork-box">
            <h3>Active Teamworks</h3>
            <ul id="teamworks" data-template="teamwork-template" class="list-group"></ul>
        </div>-->
    </div>
    <div class="col-lg-3">
        <a href="#/newteamwork"><button type="button" class="btn btn-success btn-lg btn-block">Add Teamwork</button></a>
    </div>
</div>
<!--<script id="teamwork-template" type="text/x-mustache-template">
    <li id="{{Id}}" class="list-group-item">
        <span>{{{Name}}}</span>
        <span>{{{Category}}}</span>
        <span>{{{Description}}}</span>
        <span><a href="#/request/{Id}">Join This Teamwork</a></span>
    </li>
</script>-->

<script id="teamwork-template" type="text/x-mustache-template">
    <a href="#/teamwork/{{Id}}" class="list-group-item">{{{Name}}} <span class="span-category">{{{Category}}}</span></a>   
</script>

<script id="category-template" type="text/x-mustache-template">
    <option id="{{.}}" class="list-group-item" value="{{.}}">
        {{{.}}}
    </option>
</script>