<div class="col-lg-8">
    <h1>Add New Message</h1>
    <form class="form-horizontal" method="post" action="">
        <fieldset>
            <div class="col-lg-10">
                <!-- Textarea -->
                <div class="control-group">
                    <label class="control-label" for="Message">Message</label>
                    <textarea class="form-control" rows="3" id="Message" name="messageText"></textarea>
                    <span class="help-block">Enter the text of your message.</span>
                </div>

                <!-- Select Basic -->
                <div class="control-group">
                    <label class="control-label" for="Category">Select Related Teamwork</label>
                    <div class="controls">
                        <select id="TeamWorkId" name="TeamWorkId" class="form-control" data-template="teamwork-template"></select>
                    </div>
                </div>

                <!-- Button -->
                <div class="control-group">
                    <label class="control-label" for="create-message"></label>
                    <div class="controls">
                        <button type="submit" class="btn btn-default">Create</button>
                    </div>
                </div>
            </div>
        </fieldset>
    </form>
</div>

<script id="teamwork-template" type="text/x-mustache-template">
    <option value="{{{Id}}}" class="list-group-item">
        {{{Name}}}
    </option>
</script>
