<div class="col-lg-8">
     <h1>Register User</h1>
     <form action="" method="POST">
         <div class="form-group">
             <label>Email</label>
             <input class="form-control" type="text" name="Email">
         </div>
         <div class="form-group">
             <label>Password</label>
             <input class="form-control" type="text" name="Password">
         </div>
         <div class="form-group">
             <label>Repeat Password</label>
             <input class="form-control" type="text" name="ConfirmPassword">
         </div>

         <button type="submit" class="btn btn-default">Register</button>
     </form>
</div>