<div class="row">
    <div class="col-lg-4">
        <div id="single-teamwork" data-template="single-teamwork-template" class="panel panel-primary">
        </div>
    </div>
    <div class="col-lg-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                Tasks
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Name</th>
                                <th>Description</th>
                                <th>Priority</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody id="assignments" data-template="assignment-teamwork-template"></tbody>
                    </table>
                </div>
                <!-- /.table-responsive -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="top-box">
            <h1>Recent messages</h1>
            <div class="controls">
                <a href="#/newmessage" class="btn btn-default" id="new-message">Send new message</a>
            </div>
        </div>
        <div class="messages-box">
            <ul id="messages" data-template="message-template" class="list-group"></ul>
        </div>
    </div>
</div>
<script id="single-teamwork-template" type="text/x-mustache-template">
    <div class="panel-heading">
        {{{Name}}}
    </div>
    <div class="panel-body">
        <h4>{{{Category}}}</h4>
        <p id="description">{{{Description}}}</p>
        <a href="{{{GitHubLink}}}">GitHub Repository</a>
    </div>
    <div class="panel-footer">
        Started on: {{{StartDate}}} / Deadline: {{{EndDate}}}
    </div>
</script>

<script id="assignment-teamwork-template" type="text/x-mustache-template">
    <tr>
        <td>{{Id}}</td>
        <td>{{{Name}}}</td>
        <td>{{{Description}}}</td>
        <td>{{{Priority}}}</td>
        <td>{{{Status}}}</td>
    </tr>
</script>

<script id="message-template" type="text/x-mustache-template">
    <li class="list-group-item">
        <span>[{{{PostDate}}}] by <strong>{{{SentBy}}}</strong> : {{{Text}}}</span>
    </li>
</script>